*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
html{
    font-size: 62.5%;
}
body{
    background-color: lightblue;
    height: 100vh;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.blanquito{
    display: flex;
    background-color: white;
    width: 22rem;
    height: 35rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 1rem;
}
figure{
    width: 20rem;
    height: 20rem; 
}
img{
    margin-top: 1.1rem;
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
}

.first-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center; 
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-family: 'Outfit', sans-serif;
}
.second-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 4rem;
    font-family: 'Outfit', sans-serif;
    color: rgb(168, 167, 167);

}